body{
	background-image: url("../picture/green.png");
	width: 98%;
}

#uppic{

	font-family: 'Lobster';
}

#uplabel{
	color: white;
	font-size: 280%;
	margin-top: 4%;
}
#outdiv{
	padding-top: 40px;
}

#outdiv div{
	background-color:white;
	border-radius: 4px;
	height: 60px;
	padding: 5px;
}

#outdiv #detaildiv{
	background-color:white;
	border-radius: 4px;
	height: 90px;
	padding: 5px;
}

a{
	text-decoration: none !important;

	color: rgb(81,142,48) !important;
}

p{
	margin-top: -3px !important;
	color: rgb(81,142,48);
	margin-left: 48px !important;
}

#detailp{
	margin-top: 3px !important;
	color: rgb(81,142,48);
	margin-left: 48px !important;
}

#h4{
	font-size: 120%;
	margin-left: 10px;
	color: rgb(81,142,48);
	margin-top: 0px;
}

#recordimg{
	margin-top: 4px;
	height: 35px;
	width: 35px;
	float: left;
}

#recorddetailimg{
	margin-top: 20px !important;
	height: 35px;
	width: 35px;
	float: left;
}

#kisiekle a{
	color: white !important;
	font-size: 105%;
}

#editform label{
	color: rgb(81,142,48);
	margin-top: 30px;
	margin-left: 15px;
}

#outdiv #editdiv{
	background-color:white;
	border-radius: 4px;
	height: 300px;
	padding: 5px;
}

#editlabel{
	font-family: 'Lobster';
	color: rgb(81,142,48);
	padding: 7px;
	font-size: 120%;
}

input#name{
	margin-left: 137px;
	border-radius: 4px;
}

input#surname{
	margin-left: 114px;
	border-radius: 4px;
}

input#phone_number{
	margin-left: 40px;
	border-radius: 4px;
}

#kaydet{
	margin-top: 15px;
	width: 180px !important;
	background-color: rgb(81,142,48);
	border-color: rgb(81,142,48);
	width: 20%;
	margin-left: 25%;
}

#kaydet:hover{
	border-color:none;
    outline: none;
    transition: 1.5s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 1px transparent;
}

#h4label{
	float: le
	font-size: 120%;
	margin-left: 10px;
	color: rgb(81,142,48);
	margin-top: 0px;
}

#editicon a{
	border: none;
}

#editicon a:hover{
	background-color: white;
	border-color:none;
    outline: none;
    transition: 1.5s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 1px transparent;
}

#editicon{
	width: 50px;
	margin-top: -25px;
	margin-left: 390px;
	border-color: none;
}

#editnumberp{
	margin-top: -30px !important;
	color: rgb(81,142,48);
	margin-left: 48px !important;
}

#upa{
	color: white !important;
}

#deletebutton{
	background: none;
	border: none;
	color: rgb(81,142,48);
	margin-top: 10px;
}

#deletebutton:hover{
	border-color:none;
    outline: none;
    transition: 1.5s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 1px transparent;
}
