<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static',filename='picture/phone-book.png') }}" />
	<title>Telefon Rehberi</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/phone.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="basecontainer" class="container-fluide">
		<div class="row">
			<div id="uppic" class="col-md-12">
				<center><label id="uplabel"><a id="upa" href="/"><i>Telefon Rehberi Uygulaması</i></a></label></center><br>
					<center><label id="kisiekle"><a href="/record/new/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Yeni Kişi Ekle</a></label></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4" id="outdiv">
				{% block content %}
        {% endblock %}
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>
